<ion-view>
  <div my-sub-header left-btn="back()" title="共{{book.chapters.length}}章"></div>
  <!--<ion-content class="my-content">-->
    <!--<div class="list chapters" style="">-->
      <!--<div class="item"-->
           <!--ng-repeat="chapter in book.chapters"-->
           <!--ng-click="chapterChange(chapter)"-->
           <!--style="position: relative"-->
        <!-->-->
        <!--<p>-->
          <!--{{chapter.name}}-->
        <!--</p>-->

        <!--<div>-->
          <!--{{chapter.update_time.$date | date:'MM-dd HH:mm:ss'}}   {{chapter.word_count}}字-->
        <!--</div>-->


        <!--<img src="static/media/icon/ding-wei.png" alt=""-->
             <!--ng-if="chapter.index == book_info.reading_chapter"-->
          <!-->-->
        <!--<img src="static/media/icon/suo.png" alt=""-->
             <!--ng-if="chapter.charge =='charge'"-->
          <!-->-->
      <!--</div>-->
    <!--</div>-->
  <!--</ion-content>-->
</ion-view>
