<div my-sub-header left-btn="back()" title="共{{book.chapters.length}}章"></div>
<ion-content class="top-38">
  <div class="list chapter">
    <div class="item"
         ng-repeat="chapter in book.chapters"
         ng-click="jumpTo('chapter.content',{id:book.oid,index:$index,total_chapNum:book.chapters.length})"
         style="position: relative">
      <p>
        {{chapter.name}}
      </p>

      <div>
        {{chapter.update_time.$date | date:'MM-dd HH:mm:ss'}}&nbsp;&nbsp;&nbsp;{{chapter.word_count | number:0}}字
      </div>

      <div class="rightImg">
        <img src="img/media/icon/ding-wei.png" alt=""
             ng-if="chapter.index == book_info.reading_chapter">
        <img src="img/media/icon/suo.png" alt=""
             ng-if="chapter.charge =='charge'">
      </div>

    </div>
  </div>
</ion-content>
