<div style="width:100%;height:568px;background:#F3DEBA;" >

  <slick settings="slickConfig" data='chapterContent.content' init-onload=true ng-if="pageLoaded" >
    <div class="content_page" ng-repeat="page in pages track by $index" ng-if="page" >
      <div class="name">{{chapterContent.name}}</div>
      <div class="content" ng-repeat="line in page track by $index" ng-if="line"
           ng-class="{'textIndent':line.suojin==true}" >
        <div class="para" >{{line.text}}</div>
      </div>
    </div>
  </slick>

</div>
