<ion-view>
  <div my-sub-header title="我的" right-btn="" right-btn-icon="icon ion-ios-gear-outline"></div>
  <ion-content class="top-38">
    <div style="width: 100%;height: 10px;background-color: #f8f8f8"></div>
    <div class="user-info">
      <div class="row">
        <div class="col col-50 left">
          <div class="avatar">
            <img src="img/media/default_avatar.png" alt=""/>
          </div>
          <div class="name">这是我的名字</div>
        </div>
        <div class="col col-50 right">
          <div class="fans">
            <div>关注 <br>0</div>
            <div>粉丝 <br>0</div>
          </div>
          <div class="edit">
            <div>编辑个人资料</div>
          </div>
        </div>
      </div>
      <div class="row">
        &nbsp;这个人很神秘，什么也没留下
      </div>
    </div>

    <div style="width: 100%;height: 10px;background-color: #f8f8f8"></div>
    <ul class="user-menu">
      <li class="row">
      <div class="col col-10 pic">
        <img src="img/media/icon/user/wo-de-dong-tai.png" alt=""/>
      </div>
      <div class="col col-80 name">我的动态</div>
      <div class="col col-10 icon ion-ios-arrow-right"></div>
    </li>
      <li class="row">
        <div class="col col-10 pic">
          <img src="img/media/icon/user/wo-de-zuo-pin.png" alt=""/>
        </div>
        <div class="col col-80 name">我的作品</div>
        <div class="col col-10 icon ion-ios-arrow-right"></div>
      </li>
      <li class="row">
        <div class="col col-10 pic">
          <img src="img/media/icon/user/wo-de-qian-bao.png" alt=""/>
        </div>
        <div class="col col-80 name">我的钱包</div>
        <div class="col col-10 icon ion-ios-arrow-right"></div>
      </li>
      <li class="row">
        <div class="col col-10 pic">
          <img src="img/media/icon/user/wo-de-shou-ru.png" alt=""/>
        </div>
        <div class="col col-80 name">我的财富</div>
        <div class="col col-10 icon ion-ios-arrow-right"></div>
      </li>
      <li class="row">
        <div class="col col-10 pic">
          <img src="img/media/icon/user/wo-de-ji-fen.png" alt=""/>
        </div>
        <div class="col col-80 name">我的积分</div>
        <div class="col col-10 icon ion-ios-arrow-right"></div>
      </li>


    </ul>
  </ion-content>
</ion-view>
