<ion-view>

  <div class="sub-header dash-sub-header clear">
    <div ng-class="{'active':active_dashThreeBox===0}" ng-click="clickChanged_three(0)"><span>推荐</span><b></b></div>
    <div ng-class="{'active':active_dashThreeBox===1}" ng-click="clickChanged_three(1)"><span>分类</span><b></b></div>
    <div ng-class="{'active':active_dashThreeBox===2}" ng-click="clickChanged_three(2)"><span>搜索</span><b></b></div>
  </div>
  <ion-content class="has-sub-header scroll-content ionic-scroll top38">
    <div class="dash-three-box">
      <div ng-include="dashThreeBox_page"></div>
    </div>
  </ion-content>
</ion-view>
