<ion-view>

  <div class="sub-header dash-sub-header clear">
    <div ng-class="{'active':showActive===0}" ng-click="slideChanged(0)"><span>推荐</span><b></b></div>
    <div ng-class="{'active':showActive===1}" ng-click="slideChanged(1)"><span>分类</span><b></b></div>
    <div ng-class="{'active':showActive===2}" ng-click="slideChanged(2)"><span>搜索</span><b></b></div>
  </div>
  <ion-content class="has-sub-header scroll-content ionic-scroll top38">
    <!--<ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)" style="height:483px;">-->
      <!--<ion-slide ng-repeat="p in pages">-->
        <!--<div ng-include="p"></div>-->
      <!--</ion-slide>-->
    <!--</ion-slide-box>-->
    <div class="dash-three-box">
      <div ng-include="p"></div>
    </div>
  </ion-content>
</ion-view>
