<div class="dash-story">
  <div class="author">
    <div class="avatar">
      <img src="img/story-author.jpg" alt=""/>
    </div>
    <div class="name">橘猫</div>
  </div>
  <div class="cover">
    <img src="img/story-img.jpg" alt=""/>
  </div>
  <div class="info">
    <div class="name">我还是喜欢你</div>
    <div class="category">
      <div>爱情</div>
      <div>文学</div>
    </div>
    <div class="desc">我还是喜欢你，像风走了八千里，不问归期；我还是喜欢你，像雨洒落在热带与极地，不远万里；我还是喜欢你，像炊烟袅袅几许，棠梨煎雪又落雨。</div>
    <div class="tag">
      <div>#喜欢你#</div>
      <div>#喜欢你#</div>
      <div>#喜欢你#</div>
    </div>
  </div>
</div>
