<ion-view>
  <ion-content class="scroll-content ionic-scroll">
    <ion-slide-box style="height:160px;">
      <ion-slide>
        <div class="slider-box" style="background-image:url('img/media/slider/1.png')">1111</div>
      </ion-slide>
      <ion-slide>
        <div class="slider-box">2222</div>
      </ion-slide>
    </ion-slide-box>
    <div>1</div><div>1</div><div>1</div><div>1</div><div>1</div><div>1</div>
    <div>1</div><div>1</div><div>1</div><div>1</div><div>1</div><div>1</div>
    <div>1</div><div>1</div><div>1</div><div>1</div><div>1</div><div>1</div>
    <div>1</div><div>1</div><div>1</div><div>1</div><div>1</div><div>1</div>
    <div>1</div><div>1</div><div>1</div><div>1</div><div>1</div><div>2</div>
  </ion-content>

</ion-view>
