<ion-view>
  <!--置顶按钮-->
    <div class="goTopButton" ng-click="goTop()" ng-if="show_goTopBtn">Top</div>

  <!--<ion-content class="scroll-content ionic-scroll" delegate-handle="mainScroll" on-swipe="fun()">-->
  <ion-content>
    <ion-refresher on-refresh="" pulling-icon="ion-android-arrow-down" pulling-text="下拉更新">
    </ion-refresher>
    <div style="width:100%;height:160px;overflow: hidden;background-color: #e6e6e6">
      <ion-slide-box auto-play="true" does-continue="true" ng-if="carousel.length>0">
        <ion-slide ng-repeat="item in carousel">
          <div style="background-image:url({{item.image}})" class="slider-box"></div>
        </ion-slide>
      </ion-slide-box>
    </div>

    <div class="broadcast">
      <img src="img/media/icon/broadcast.png" style="width:16px;position: relative;top: -3px;"/>
      <marquee behavior="scroll" contenteditable="false" scrollamount="4" width="270"
               style="position: relative; top: 1px;">
        <span ng-repeat="item in broadcast" ng-bind-html="item.message"></span>
      </marquee>
    </div>
    <div class="dash-row">
      <div class="zhou-tui" ng-click="jumpTo('top.novel-weekread')">
        <img src="img/media/rank/zhou-tui-bang.png" width="100%" alt=""/>
      </div>
      <div class="zuo-zhe" ng-click="jumpTo('top.author-read')">
        <img src="img/media/rank/zuo-zhe-bang.png" width="100%" alt=""/>
      </div>
    </div>
    <div class="dash-row">
      <div class="da-shang" ng-click="jumpTo('top.novel-reward')">
        <img src="img/media/rank/da-shang-bang.png" width="100%" alt=""/>
      </div>
      <div class="cao-mei" ng-click="jumpTo('top.novel-caomei')">
        <img src="img/media/rank/cao-mei-bang.png" width="100%" alt=""/>
      </div>
    </div>

    <div class="dash-two-label row">
      <div class="col" ng-class="{'active':active_dashTwoLabel===0}" ng-click="clickChanged_two(0)">热门长篇</div>
      <div class="col" ng-class="{'active':active_dashTwoLabel===1}" ng-click="clickChanged_two(1)"
           style="border-left:1px solid #f0f0f0;">热门短篇
      </div>
    </div>
    <div ng-show="show_hotbook">
      <!--热门长篇-->
      <div class="bookList" ng-repeat="item in bookList track by $index">
        <div ng-include="'templates/tpls/bookList.html'"></div>
      </div>
    </div>
    <div ng-show="!show_hotbook">
      <!--热门短篇-->
      <div class="storyList" ng-repeat="item in storyList track by $index">
        <div ng-include="'templates/tpls/storyList.html'"></div>
      </div>

    </div>


    <ion-infinite-scroll
      on-infinite="getMoreData()"
      distance="1%"
      immediate-check="false"
      ng-if="has_more"></ion-infinite-scroll>

  </ion-content>

</ion-view>
