<ion-view>
  <div my-sub-header title="打赏榜"  left-btn="back()"></div>
  <ion-content class="top-38">
    <div class="novelList" ng-repeat="item in topList track by $index" ng-click="jumpTo('book.novel-cover',{id:item.oid,authorid:item.author.oid})">
      <div ng-include="'templates/top/novel-tpl.html'"></div>
    </div>
    <ion-infinite-scroll
      on-infinite="getMoreData()"
      distance="1%"
      immediate-check="false"
      ng-if="has_more"></ion-infinite-scroll>
  </ion-content>
</ion-view>
