<div class="author">
  <div class="avatar">
    <img ng-src="{{item.author.head_img}}" ng-if="item.author.head_img" alt=""/>
    <img src="img/media/default_avatar.png" ng-if="!item.author.head_img" alt=""/>
  </div>
  <div class="name" ng-bind="item.author.nick_name"></div>
</div>
<div class="cover" ng-if="item.cover_url">
  <img ng-src="{{item.cover_url}}" alt=""/>
</div>
<div class="info">
  <div class="name" ng-bind="item.name" ng-if="item.name"></div>
  <div class="category" ng-if="item.categories!=''">
    <div ng-repeat="category in item.categories track by $index" ng-bind="category.name"></div>
  </div>
  <div class="desc" ng-bind="item.desc" ng-if="item.desc"></div>
  <div class="tag" ng-if="item.tags">
    <div ng-repeat="tag in item.tags track by $index"><strong>#</strong>{{tag}}<strong>#</strong></div>
  </div>
  <div class="update_time" ng-bind-html="item.update_time.$date | date:'MM-dd'"></div>
</div>
