html {
  font-size: 12px;
}
/*底部tab*/
.strawberry .tab-item .icon.ion-tab-home {
  background: url(../img/media/tab/shou-ye.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-home-active {
  background: url(../img/media/tab/active/shou-ye.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-bookshelf {
  background: url(../img/media/tab/shu-jia.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-bookshelf-active {
  background: url(../img/media/tab/active/shu-jia.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-publish {
  background: url(../img/media/tab/fa-bu.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-publish-active {
  background: url(../img/media/tab/active/fa-bu.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-loop {
  background: url(../img/media/tab/quan-zi.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-loop-active {
  background: url(../img/media/tab/active/quan-zi-.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-user {
  background: url(../img/media/tab/wo-de.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-user-active {
  background: url(../img/media/tab/active/wo-de-.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon {
  width: 18px;
  height: 18px;
}
.active,
ion-tabs.strawberry.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.strawberry.tabs-color-active-positive .tab-item.active,
ion-tabs.strawberry.tabs-color-active-positive .tab-item.activated {
  color: #fb7299;
}
.strawberry .tabs {
  height: 47px;
  padding-top: 8px;
}
/*dash*/
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.dash-sub-header {
  background: #f8f8f8;
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: center;
}
.dash-sub-header div {
  width: 35px;
  margin: 10px 10px 0;
  text-align: center;
}
.dash-sub-header div span {
  font-size: 15px;
}
.dash-sub-header div b {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 3px;
  background: #fb7299;
  visibility: hidden;
}
.dash-sub-header div.active {
  color: #fb7299;
}
.dash-sub-header div.active b {
  visibility: visible;
}
.top38 {
  top: 38px !important;
}
.dash-three-box {
  width: 320px;
  height: 100%;
}
.slider-box {
  width: 320px;
  height: 160px;
  background: #ddd;
  background-size: cover;
  background-position: center;
}
/*广播小喇叭*/
.broadcast {
  width: 305px;
  height: 22px;
  background: #ddd;
  border-radius: 10px;
  margin: 7px auto 3px;
  padding-left: 5px;
}
/*周推榜...四幅图*/
.dash-row {
  width: 320px;
  padding: 0 5px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
}
.dash-row div {
  padding: 0 5px;
}
.dash-row div img {
  width: 100%;
  height: 60px;
}
.dash-two-label {
  width: 320px;
  border: 1px solid #f0f0f0;
  border-left: none;
  border-right: none;
  margin-top: 10px;
  padding: 0;
}
.dash-two-label div {
  padding: 7px;
  text-align: center;
  font-size: 14px;
}
/*热门长篇*/
.dash-book {
  width: 320px;
  padding: 5px;
  border-bottom: 1px solid #F0F0F0;
  position: relative;
}
.dash-book .cover {
  display: inline-block;
  position: relative;
  width: 85px;
  vertical-align: top;
}
.dash-book .cover .contract {
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
  position: absolute;
  right: -4px;
  bottom: -4px;
}
.dash-book .cover .img {
  width: 75px;
  height: 105px;
  background-position: center;
  background-size: cover;
  margin: 5px 0 0 5px;
}
.dash-book .info {
  display: inline-block;
  width: 210px;
  margin-left: 5px;
  position: relative;
}
.dash-book .info .author {
  height: 18px;
}
.dash-book .info .author div {
  display: inline-block;
}
.dash-book .info .author .avatar {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.dash-book .info .author .avatar img {
  width: 100%;
  height: 100%;
  display: block;
}
.dash-book .info .author .name {
  font-size: 12px;
  color: #999;
  line-height: 14px;
}
.dash-book .info .category {
  font-size: 0;
  height: 12px;
  margin: 2px 0;
}
.dash-book .info .category div {
  display: inline-block;
  font-size: 8px;
  color: #999;
  border: 1px solid #bbb;
  border-radius: 3px;
  line-height: 11px;
  padding: 0 2px;
  margin-right: 3px;
}
.dash-book .info .desc {
  height: 32px;
  color: #666;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  margin: 5px 0;
}
.dash-book .info .tag {
  overflow: hidden;
  font-size: 0;
  max-height: 35px;
  height: 15px;
}
.dash-book .info .tag div {
  display: inline-block;
  padding: 0 1px;
  margin-right: 3px;
  color: #999;
  background: #f0f0f0;
  border-radius: 2px;
  font-size: 8px;
  line-height: 13px;
}
.dash-book .info .status {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 9px;
  line-height: 15px;
  color: #fff;
  background: #ffbf00;
  padding: 0 5px;
  border-radius: 3px;
}
.dash-book .info .update_time {
  position: absolute;
  right: 1px;
  bottom: -4px;
  font-size: 8px;
}
/*热门短篇*/
.dash-story {
  width: 320px;
  padding: 10px 0;
  border-bottom: 1px solid #F0F0F0;
  position: relative;
}
.dash-story .author {
  padding-left: 10px;
}
.dash-story .author .avatar {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}
.dash-story .author .avatar img {
  display: block;
  width: 100%;
  height: 100%;
}
.dash-story .author .name {
  display: inline-block;
  margin-left: 2px;
  font-size: 10px;
  line-height: 28px;
  color: #999;
  vertical-align: top;
}
.dash-story .cover {
  width: 320px;
  height: 110px;
  overflow: hidden;
}
.dash-story .cover img {
  width: 100%;
}
.dash-story .info {
  padding: 5px 10px 0 10px;
}
.dash-story .info .name {
  font-size: 15px;
}
.dash-story .info .category {
  font-size: 0;
  height: 12px;
  margin: 2px 0;
}
.dash-story .info .category div {
  display: inline-block;
  font-size: 8px;
  color: #999;
  border: 1px solid #bbb;
  border-radius: 3px;
  line-height: 11px;
  padding: 0 2px;
  margin-right: 3px;
}
.dash-story .info .desc {
  font-size: 12px;
  line-height: 16px;
  color: #999;
  min-height: 16px;
  max-height: 32px;
  overflow: hidden;
  margin: 5px 0;
}
.dash-story .info .tag {
  overflow: hidden;
  font-size: 0;
  max-height: 35px;
  height: 15px;
}
.dash-story .info .tag div {
  display: inline-block;
  padding: 0 1px;
  margin-right: 3px;
  color: #999;
  background: #f0f0f0;
  border-radius: 2px;
  font-size: 8px;
  line-height: 13px;
}
/*定义头部样式*/
.sub-header {
  width: 100%;
  height: 38px;
  background: #f8f8f8;
  display: flex;
}
.sub-header div {
  line-height: 38px;
  text-align: center;
}
.sub-header .btns {
  width: 30px;
  font-size: 20px;
}
.sub-header .title {
  width: 260px;
  font-size: 15px;
}
