html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
/*底部tab*/
.strawberry .tab-item .icon.ion-tab-home {
  background: url(../img/media/tab/shou-ye.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-home-active {
  background: url(../img/media/tab/active/shou-ye.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-bookshelf {
  background: url(../img/media/tab/shu-jia.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-bookshelf-active {
  background: url(../img/media/tab/active/shu-jia.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-publish {
  background: url(../img/media/tab/fa-bu.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-publish-active {
  background: url(../img/media/tab/active/fa-bu.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-loop {
  background: url(../img/media/tab/quan-zi.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-loop-active {
  background: url(../img/media/tab/active/quan-zi-.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-user {
  background: url(../img/media/tab/wo-de.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon.ion-tab-user-active {
  background: url(../img/media/tab/active/wo-de-.png) no-repeat center;
  background-size: contain;
}
.strawberry .tab-item .icon {
  width: 18px;
  height: 18px;
}
.active,
ion-tabs.strawberry.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.strawberry.tabs-color-active-positive .tab-item.active,
ion-tabs.strawberry.tabs-color-active-positive .tab-item.activated {
  color: #fb7299;
}
.strawberry .tabs,
.my-foot-tabs {
  height: 42px;
  padding-top: 6px;
  background-size: 0 !important;
  background: #f8f8f8;
}
/*dash*/
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.dash-sub-header {
  background: #f8f8f8;
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: center;
}
.dash-sub-header div {
  width: 35px;
  margin: 10px 10px 0;
  text-align: center;
}
.dash-sub-header div span {
  font-size: 15px;
}
.dash-sub-header div b {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 3px;
  background: #fb7299;
  visibility: hidden;
}
.dash-sub-header div.active {
  color: #fb7299;
}
.dash-sub-header div.active b {
  visibility: visible;
}
.my-content {
  top: 38px !important;
  bottom: 42px !important;
}
.top-38 {
  top: 38px !important;
}
.dash-three-box {
  width: 320px;
  height: 100%;
}
.slider-box {
  width: 320px;
  height: 160px;
  background: #ddd;
  background-size: cover;
  background-position: center;
}
/*************************dash页-推荐页*************************/
/*广播小喇叭*/
.broadcast {
  width: 305px;
  height: 22px;
  background: #ddd;
  border-radius: 10px;
  margin: 7px auto 3px;
  padding-left: 5px;
}
.broadcast span {
  color: #a2a2a2;
  font-size: 12px;
  margin-right: 10px;
}
/*周推榜...四幅图*/
.dash-row {
  width: 320px;
  padding: 0 5px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
}
.dash-row div {
  padding: 0 5px;
}
.dash-row div img {
  width: 100%;
  height: 60px;
}
.dash-two-label {
  width: 320px;
  border: 1px solid #f0f0f0;
  border-left: none;
  border-right: none;
  margin-top: 10px;
  padding: 0;
}
.dash-two-label div {
  padding: 7px;
  text-align: center;
  font-size: 14px;
}
/*热门长篇*/
.novelList {
  width: 320px;
  padding: 5px;
  border-bottom: 1px solid #F0F0F0;
  position: relative;
}
.novelList .cover {
  display: inline-block;
  position: relative;
  width: 85px;
  vertical-align: top;
}
.novelList .cover .contract {
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
  position: absolute;
  right: -4px;
  bottom: -4px;
}
.novelList .cover .img {
  width: 75px;
  height: 105px;
  background-position: center;
  background-size: cover;
  margin: 5px 0 0 5px;
}
.novelList .info {
  display: inline-block;
  width: 210px;
  margin-left: 5px;
  position: relative;
}
.novelList .info .author {
  height: 18px;
}
.novelList .info .author div {
  display: inline-block;
}
.novelList .info .author .avatar {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.novelList .info .author .avatar img {
  width: 100%;
  height: 100%;
  display: block;
}
.novelList .info .author .name {
  font-size: 12px;
  color: #999;
  line-height: 14px;
}
.novelList .info .tag {
  font-size: 0;
  width: 170px;
  min-height: 15px;
  max-height: 35px;
  overflow: hidden;
}
.novelList .info .tag div {
  display: inline-block;
  font-size: 8px;
  color: #999;
  background: #f0f0f0;
  line-height: 11px;
  padding: 0 2px;
  margin-right: 10px;
}
.novelList .info .desc {
  height: 32px;
  color: #666;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  margin: 5px 0;
}
.novelList .info .category {
  overflow: hidden;
  font-size: 0;
  max-height: 35px;
  height: 15px;
}
.novelList .info .category div {
  display: inline-block;
  padding: 0 1px;
  margin-right: 3px;
  color: #999;
  border: 1px solid #bbb;
  border-radius: 2px;
  font-size: 8px;
  line-height: 13px;
}
.novelList .info .status {
  position: absolute;
  right: 0;
  top: 3px;
  font-size: 9px;
  line-height: 15px;
  color: #fff;
  background: #ffbf00;
  padding: 0 5px;
  border-radius: 3px;
}
.novelList .info .status.finish {
  background: #3399FF;
}
.novelList .info .update_time {
  position: absolute;
  right: 1px;
  bottom: -4px;
  font-size: 10px;
  color: #999;
}
.novelList .top-icon {
  height: 100%;
  min-width: 100px;
  text-align: right;
  position: absolute;
  right: 0;
  top: 3px;
  z-index: -1;
}
/*热门短篇*/
.storyList {
  width: 320px;
  padding: 10px 0;
  border-bottom: 1px solid #F0F0F0;
  position: relative;
}
.storyList .author {
  padding-left: 10px;
}
.storyList .author .avatar {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}
.storyList .author .avatar img {
  display: block;
  width: 100%;
  height: 100%;
}
.storyList .author .name {
  display: inline-block;
  margin-left: 2px;
  font-size: 10px;
  line-height: 28px;
  color: #999;
  vertical-align: top;
}
.storyList .cover {
  width: 320px;
  height: 110px;
  overflow: hidden;
}
.storyList .cover img {
  width: 100%;
}
.storyList .info {
  padding: 5px 10px 0 10px;
  position: relative;
}
.storyList .info .name {
  font-size: 15px;
}
.storyList .info .tag {
  font-size: 0;
  width: 80%;
  min-height: 12px;
  max-height: 35px;
  margin: 2px 0;
}
.storyList .info .tag div {
  display: inline-block;
  font-size: 8px;
  color: #999;
  background: #f0f0f0;
  border-radius: 3px;
  line-height: 11px;
  padding: 0 2px;
  margin-right: 3px;
}
.storyList .info .desc {
  font-size: 12px;
  line-height: 16px;
  color: #999;
  min-height: 16px;
  max-height: 32px;
  overflow: hidden;
  margin: 5px 0;
}
.storyList .info .category {
  overflow: hidden;
  font-size: 0;
  max-height: 35px;
  height: 15px;
}
.storyList .info .category div {
  display: inline-block;
  padding: 0 1px;
  margin-right: 3px;
  color: #999;
  border: 1px solid #bbb;
  border-radius: 2px;
  font-size: 8px;
  line-height: 13px;
}
.storyList .info .update_time {
  position: absolute;
  right: 16px;
  bottom: 0;
  color: #999;
  font-size: 10px;
}
/*定义通用头部样式*/
.sub-header {
  width: 100%;
  height: 38px;
  background: #f8f8f8;
  display: flex;
  position: relative;
  z-index: 10;
}
.sub-header div {
  line-height: 38px;
  text-align: center;
}
.sub-header .btns {
  width: 30px;
}
.sub-header .btns .icon {
  font-size: 20px;
}
.sub-header .title {
  width: 260px;
  font-size: 15px;
}
/*****************************dash页-分类页****************************/
.sort-box {
  width: 100%;
  height: 100px;
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
}
.sort-box .cover {
  display: inline-block;
  width: 95px;
  height: 76px;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}
.sort-box .name {
  display: inline-block;
  margin: 0 100px 0 5px;
}
.sort-box .novel_count {
  display: inline-block;
}
/*****************************dash页-搜索页****************************/
.search-box {
  width: 100%;
  height: 42px;
  padding: 15px 10px 5px 10px;
}
.search-box .search {
  width: 100%;
  height: 22px;
  background: #e5e5e5;
  border-radius: 20px;
  position: relative;
  padding: 0 8px;
  line-height: 22px;
}
.search-box .search .left {
  display: inline-block;
}
.search-box .search .right {
  display: inline-block;
}
.search-box .search input {
  width: 253px;
  height: 22px;
  position: relative;
  top: -2px;
  display: inline-block;
  background: transparent;
}
.history {
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-top-color: transparent;
  border-bottom-width: 5px;
}
.history .historyList {
  padding: 2px 10px;
  border-bottom: 1px solid #f0f0f0;
}
.history .historyList .closeBtn {
  font-size: 20px;
  position: absolute;
  right: 20px;
}
.hot-search {
  width: 100%;
  padding: 10px;
}
.hot-search div.name {
  display: inline-block;
  margin: 0 5px 5px 0;
  color: #999;
  padding: 1px 5px;
  border: 1px solid #f0f0f0;
}
.search-tabs {
  display: flex;
  justify-content: space-around;
}
.search-tabs div {
  width: 34%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-bottom: 2px solid #ccc;
}
.search-tabs div.active {
  color: #fb7299;
  border-bottom: 2px solid #fb7299;
}
/*****************************dash页-top榜****************************/
.userList {
  width: 320px;
  position: relative;
}
.userList .headImg {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.userList .headImg img {
  width: 100%;
}
.userList .desc {
  width: 100%;
  height: 70px;
  border: 1px solid #f0f0f0;
  padding: 15px 15px 15px 70px;
  line-height: 50px;
}
.userList .desc .nickName {
  line-height: 20px;
  color: #49be38;
}
.userList .desc .sign {
  line-height: 20px;
  font-size: 10px;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.userList .attention {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  padding: 0px 5px;
  font-size: 12px;
  background: #fb7299;
  color: #fff;
  border-radius: 5px;
}
.userList .attention.pay {
  background: #fff;
  color: #999;
  border: 1px solid #999;
}
/****************************小说cover页****************************/
.cover-footer .book-tabs {
  padding-top: 0;
}
.cover-footer .book-tabs .book-tab {
  text-align: center;
  color: #999;
}
.cover-footer .book-tabs .book-tab .img {
  width: 15px;
  height: 15px;
  margin: 0 auto;
}
.cover-footer .book-tabs .book-tab .img img {
  width: 100%;
}
.novel-cover,
.story-cover {
  padding: 10px;
}
.novel-cover .author,
.story-cover .author {
  width: 100%;
  display: flex;
}
.novel-cover .author .avatar,
.story-cover .author .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.novel-cover .author .avatar img,
.story-cover .author .avatar img {
  width: 100%;
}
.novel-cover .author .name,
.story-cover .author .name {
  width: 70%;
  padding-left: 10px;
  line-height: 30px;
}
.novel-cover .author .buttons,
.story-cover .author .buttons {
  width: 20%;
  text-align: right;
}
.novel-cover .author .buttons div,
.story-cover .author .buttons div {
  background: #fb7299;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
}
.novel-cover .book,
.story-cover .book {
  width: 100%;
  margin-top: 10px;
  display: flex;
}
.novel-cover .book .cover,
.story-cover .book .cover {
  width: 85px;
  height: 115px;
  position: relative;
}
.novel-cover .book .cover .img,
.story-cover .book .cover .img {
  background-position: center;
  background-size: cover;
  height: 100%;
}
.novel-cover .book .cover .contract,
.story-cover .book .cover .contract {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -6px;
  bottom: -6px;
}
.novel-cover .book .info,
.story-cover .book .info {
  margin-left: 10px;
  width: 205px;
}
.novel-cover .book .info .name,
.story-cover .book .info .name {
  font-size: 13px;
  color: #333333;
  letter-spacing: 1px;
}
.novel-cover .book .info .process,
.story-cover .book .info .process {
  font-size: 8px;
  color: #333333;
  display: flex;
}
.novel-cover .book .info .process div,
.story-cover .book .info .process div {
  background-color: #ffbf00;
  color: #FFFFFF;
  font-size: 8px;
  border-radius: 2px;
  text-align: center;
  padding: 0 3px;
  height: 10px;
  margin-right: 8px;
}
.novel-cover .book .info .category,
.story-cover .book .info .category {
  overflow: hidden;
  display: flex;
  max-height: 35px;
  height: 15px;
  margin-top: 3px;
}
.novel-cover .book .info .category div,
.story-cover .book .info .category div {
  padding: 0 1px;
  margin-right: 3px;
  color: #999;
  border: 1px solid #bbb;
  border-radius: 2px;
  font-size: 8px;
  line-height: 13px;
}
.novel-cover .book .info .tag,
.story-cover .book .info .tag {
  min-height: 12px;
  max-height: 35px;
  display: flex;
  margin-top: 3px;
  flex-wrap: wrap;
}
.novel-cover .book .info .tag div,
.story-cover .book .info .tag div {
  font-size: 8px;
  color: #999;
  background: #f0f0f0;
  border-radius: 3px;
  line-height: 11px;
  padding: 0 2px;
  margin: 2px 3px 2px 0;
}
.novel-cover .desc,
.story-cover .desc {
  padding: 10px 0;
  color: #999999;
  line-height: 15px;
}
.novel-cover .button-read,
.story-cover .button-read {
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 1px;
  margin: 2px 0;
  background-color: #fb7299;
}
.story-cover {
  padding: 10px;
}
.story-cover .story-coverImg {
  width: 100%;
  margin-top: 10px;
}
.story-cover .story-coverImg img {
  width: 100%;
}
.story-cover .name {
  font-size: 13px;
  color: #333333;
  letter-spacing: 1px;
}
.story-cover .word-count {
  font-size: 9px;
  color: #999999;
}
.story-cover .tags {
  margin-top: 5px;
}
.story-cover .tags span {
  height: 15px;
  line-height: 13px;
  display: inline-block;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 3px;
  padding: 0 5px;
  margin-right: 10px;
  font-size: 8px;
}
.story-cover .desc {
  padding: 2px 0;
  font-size: 12px;
  color: #999999;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/****************************评论列表****************************/
.commentList {
  padding: 0 10px;
}
.commentList .comment {
  width: 100%;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}
.commentList .comment .title {
  position: relative;
  padding-left: 6px;
  padding-top: 5px;
}
.commentList .comment .title div {
  display: inline-block;
  vertical-align: top;
}
.commentList .comment .title .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.commentList .comment .title .name {
  font-size: 10px;
  color: #fa7299;
  display: inline-block;
  margin-left: 10px;
  width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.commentList .comment .title .icons {
  position: absolute;
  right: 2px;
  top: 13px;
  color: #999999;
  font-size: 9px;
}
.commentList .comment .title .icons div {
  width: 12px;
  height: 12px;
  margin-left: 4px;
}
.commentList .comment .title .icons div img {
  width: 100%;
}
.commentList .comment .content {
  padding-left: 49px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.commentList .comment .content .words {
  margin: 5px 0;
}
.commentList .comment .content .time {
  width: 100%;
  text-align: right;
  margin-bottom: 5px;
  color: #999;
}
.commentList .else {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
/****************************章节目录****************************/
.chapter {
  padding-bottom: 45px;
  font-size: 13px;
}
.chapter .item {
  padding: 8px 12px 3px 12px;
  position: relative;
  border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}
.chapter .item .rightImg {
  position: absolute;
  right: 9px;
  bottom: 18px;
  width: 16px;
  height: 16px;
}
.chapter .item .rightImg img {
  width: 100%;
}
/****************************章节内容****************************/
.content_page {
  width: 100%;
  height: 100%;
  padding: 20px 30px 30px;
}
.content_page .name {
  width: 100%;
  font-size: 15px;
  margin-bottom: 5px;
}
.content_page .content .para {
  width: 100%;
  font-size: 16px;
  text-indent: 32px;
  line-height: 26px;
  text-align: justify;
}
