
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,input,textarea,p, blockquote,
th,td,hr,button,article,aside,details,figcaption,figure,
footer,header,menu,nav,section {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/*底部tab*/
.strawberry .tab-item .icon.ion-tab-home {
  background: url(../img/media/tab/shou-ye.png) no-repeat center;
  background-size: contain;
}

.strawberry .tab-item .icon.ion-tab-home-active {
  background: url(../img/media/tab/active/shou-ye.png) no-repeat center;
  background-size: contain;
}

.strawberry .tab-item .icon.ion-tab-bookshelf {
  background: url(../img/media/tab/shu-jia.png) no-repeat center;
  background-size: contain;
}

.strawberry .tab-item .icon.ion-tab-bookshelf-active {
  background: url(../img/media/tab/active/shu-jia.png) no-repeat center;
  background-size: contain;
}

.strawberry .tab-item .icon.ion-tab-publish {
  background: url(../img/media/tab/fa-bu.png) no-repeat center;
  background-size: contain;
}

.strawberry .tab-item .icon.ion-tab-publish-active {
  background: url(../img/media/tab/active/fa-bu.png) no-repeat center;
  background-size: contain;
}

.strawberry .tab-item .icon.ion-tab-loop {
  background: url(../img/media/tab/quan-zi.png) no-repeat center;
  background-size: contain;
}

.strawberry .tab-item .icon.ion-tab-loop-active {
  background: url(../img/media/tab/active/quan-zi-.png) no-repeat center;
  background-size: contain;
}

.strawberry .tab-item .icon.ion-tab-user {
  background: url(../img/media/tab/wo-de.png) no-repeat center;
  background-size: contain;
}

.strawberry .tab-item .icon.ion-tab-user-active {
  background: url(../img/media/tab/active/wo-de-.png) no-repeat center;
  background-size: contain;
}

.strawberry .tab-item .icon {
  width: 18px;
  height: 18px;
}

.active,
ion-tabs.strawberry.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.strawberry.tabs-color-active-positive .tab-item.active,
ion-tabs.strawberry.tabs-color-active-positive .tab-item.activated {
  color: #fb7299;
}

.strawberry .tabs ,.my-foot-tabs{
  height: 42px;
  padding-top: 6px;
  background-size: 0 !important;
  background: #f8f8f8;
}

/*dash*/
.clear:after {
  content: "";
  display: block;
  clear: both;
}

.dash-sub-header {
  background: #f8f8f8;
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: center;
}

.dash-sub-header div {
  width: 35px;
  margin: 10px 10px 0;
  text-align: center;
}

.dash-sub-header div span {
  font-size: 15px;
}

.dash-sub-header div b {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 3px;
  background: #fb7299;
  visibility: hidden;
}

.dash-sub-header div.active {
  color: #fb7299;
}

.dash-sub-header div.active b {
  visibility: visible;
}
.my-content{
  top: 38px !important;bottom: 42px !important;
}

.dash-three-box {
  width: 320px;
  height: 100%;
}

.slider-box {
  width: 320px;
  height: 160px;
  background: #ddd;
  background-size: cover;
  background-position: center;
}

/*************************dash页-推荐页*************************/
/*广播小喇叭*/
.broadcast {
  width: 305px;
  height: 22px;
  background: #ddd;
  border-radius: 10px;
  margin: 7px auto 3px;
  padding-left: 5px;
  span {
    color: #a2a2a2;
    font-size: 12px;
    margin-right: 10px;
  }
}

/*周推榜...四幅图*/
.dash-row {
  width: 320px;
  padding: 0 5px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

.dash-row div {
  padding: 0 5px;
}

.dash-row div img {
  width: 100%;
  height: 60px;
}

.dash-two-label {
  width: 320px;
  border: 1px solid #f0f0f0;
  border-left: none;
  border-right: none;
  margin-top: 10px;
  padding: 0;
}

.dash-two-label div {
  padding: 7px;
  text-align: center;
  font-size: 14px;
}

////置顶按钮
//.goTopButton{
//  position:absolute;
//  right:10px;bottom:10px;
//  z-index:10;
//  width:40px;height:40px;
//  background:#fff;
//  box-shadow: 0px 0px 5px #888888;
//  border-radius:50%;
//  line-height: 40px;font-size:14px;
//  font-weight: 900;color:#aaa;
//  text-align: center;
//}
/*热门长篇*/
.novelList {
  width: 320px;
  padding: 5px;
  border-bottom: 1px solid #F0F0F0;
  position: relative;
}

.novelList .cover {
  display: inline-block;
  position: relative;
  width: 85px;
  vertical-align: top;
  .contract {
    display: block;
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
    right: -4px;
    bottom: -4px;
  }
}

.novelList .cover .img {
  width: 75px;
  height: 105px;
  background-position: center;
  background-size: cover;
  margin: 5px 0 0 5px;
}

.novelList .info {
  display: inline-block;
  width: 210px;
  margin-left: 5px;
  position: relative;
}

.novelList .info .author {
  height: 18px;
}

.novelList .info .author div {
  display: inline-block;
}

.novelList .info .author .avatar {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.novelList .info .author .avatar img {
  width: 100%;
  height: 100%;
  display: block;
}

.novelList .info .author .name {
  font-size: 12px;
  color: #999;
  line-height: 14px;
}

.novelList .info .tag {
  font-size: 0;
  width: 170px;
  min-height: 15px;
  max-height: 35px;
  overflow: hidden;
}

.novelList .info .tag div {
  display: inline-block;
  font-size: 8px;
  color: #999;
  background: #f0f0f0;
  line-height: 11px;
  padding: 0 2px;
  margin-right: 10px;
}

.novelList .info .desc {
  height: 32px;
  color: #666;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  margin: 5px 0;
}

.novelList .info .category {
  overflow: hidden;
  font-size: 0;
  max-height: 35px;
  height: 15px;
  div {
    display: inline-block;
    padding: 0 1px;
    margin-right: 3px;
    color: #999;
    border: 1px solid #bbb;
    border-radius: 2px;
    font-size: 8px;
    line-height: 13px;
  }
}

.novelList .info .status {
  position: absolute;
  right: 0;
  top: 3px;
  font-size: 9px;
  line-height: 15px;
  color: #fff;
  background: #ffbf00;
  padding: 0 5px;
  border-radius: 3px;
  &.finish {
    background: #3399FF;
  }
}

.novelList .info .update_time {
  position: absolute;
  right: 1px;
  bottom: -4px;
  font-size: 10px;
  color: #999;
}

.novelList .top-icon {
  height: 100%;
  min-width: 100px;
  text-align: right;
  position: absolute;
  right: 0;
  top: 3px;
  z-index: -1;
}

/*热门短篇*/
.storyList {
  width: 320px;
  padding: 10px 0;
  border-bottom: 1px solid #F0F0F0;
  position: relative;
  .author {
    padding-left: 10px;
    .avatar {
      display: inline-block;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .name {
      display: inline-block;
      margin-left: 2px;
      font-size: 10px;
      line-height: 28px;
      color: #999;
      vertical-align: top;
    }
  }
  .cover {
    width: 320px;
    height: 110px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .info {
    padding: 5px 10px 0 10px;
    position: relative;
    .name {
      font-size: 15px;
    }
    .tag {
      font-size: 0;
      width: 80%;
      min-height: 12px;
      max-height: 35px;
      margin: 2px 0;
      div {
        display: inline-block;
        font-size: 8px;
        color: #999;
        background: #f0f0f0;
        border-radius: 3px;
        line-height: 11px;
        padding: 0 2px;
        margin-right: 3px;
      }
    }
    .desc {
      font-size: 12px;
      line-height: 16px;
      color: #999;
      min-height: 16px;
      max-height: 32px;
      overflow: hidden;
      margin: 5px 0;
    }
    .category {
      overflow: hidden;
      font-size: 0;
      max-height: 35px;
      height: 15px;
      div {
        display: inline-block;
        padding: 0 1px;
        margin-right: 3px;
        color: #999;

        border: 1px solid #bbb;
        border-radius: 2px;
        font-size: 8px;
        line-height: 13px;
      }
    }
    .update_time {
      position: absolute;
      right: 16px;
      bottom: 0;
      color: #999;
      font-size: 10px;
    }
  }
}

/*定义通用头部样式*/
.sub-header {
  width: 100%;
  height: 38px;
  background: #f8f8f8;
  display: flex;
  position: relative;
  z-index: 10;
  div {
    line-height: 38px;
    text-align: center;
  }
  .btns {
    width: 30px;
    .icon{
      font-size: 20px;
    }
  }
  .title {
    width: 260px;
    font-size: 15px;
  }
}

/*****************************dash页-分类页****************************/
.sort-box {
  width: 100%;
  height: 100px;
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
  .cover {
    display: inline-block;
    width: 95px;
    height: 76px;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
  }
  .name {
    display: inline-block;
    margin: 0 100px 0 5px;
  }
  .novel_count {
    display: inline-block;
  }
}

/*****************************dash页-搜索页****************************/
.search-box {
  width: 100%;
  height: 42px;
  padding: 15px 10px 5px 10px;
  .search {
    width: 100%;
    height: 22px;
    background: #e5e5e5;
    border-radius: 20px;
    position: relative;
    padding: 0 8px;
    line-height: 22px;
    .left {
      display: inline-block;
    }
    .right {
      display: inline-block;
    }
    input {
      width: 253px;
      height: 22px;
      position: relative;
      top: -2px;
      display: inline-block;
      background: transparent;
    }
  }
}
.history{
  width: 100%;
  height: 100%;
  background: #fff;
  border:1px solid #f0f0f0;
  border-top-color: transparent;
  border-bottom-width: 5px;
  .historyList{
    padding:2px 10px;
    border-bottom:1px solid #f0f0f0;
    .closeBtn{
font-size:20px;
      position: absolute;
      right:20px;
    }
  }
}
.hot-search {
  width: 100%;
  padding: 10px;
  div.name {
    display: inline-block;
    margin: 0 5px 5px 0;
    color: #999;
    padding: 1px 5px;
    border: 1px solid #f0f0f0;
  }
}

.search-tabs {
  display: flex;
  justify-content: space-around;
  div {
    width: 34%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 2px solid #ccc;
  }
  div.active {
    color: #fb7299;
    border-bottom: 2px solid #fb7299;
  }
}

/*****************************dash页-top榜****************************/
.userList {
  width:320px;
  position: relative;
  .headImg {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    img {
      width: 100%;
    }
  }
  .desc {
    width: 100%;
    height: 70px;
    border: 1px solid #f0f0f0;
    padding: 15px 15px 15px 70px;
    line-height: 50px;
    .nickName {
      line-height: 20px;
      color: #49be38;
    }
    .sign {
      line-height: 20px;
      font-size: 10px;
      width: 170px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .attention {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    padding: 0px 5px;
    font-size: 12px;
    background: #fb7299;
    color: #fff;
    border-radius: 5px;
    &.pay {
      background: #fff;
      color: #999;
      border: 1px solid #999;
    }
  }
}

/****************************小说cover页****************************/
//底部tab页
.cover-footer{
  .book-tabs{
   padding-top:0;
   .book-tab{
     text-align:center;
     color:#999;
     .img{
       width:15px;height:15px;
       margin:0 auto;
       img{
       width:100%;
       }
     }
   }
 }
}
//长篇cover
.novel-cover,.story-cover{
  padding:10px;
  .author{
    width:100%;
    display:flex;
    .avatar{
      width:30px;height:30px;
      border-radius:50%;
      overflow:hidden;
      img{
        width:100%;
      }
    }
    .name{
      width:70%;
      padding-left:10px;
      line-height:30px;
    }
    .buttons{
      width:20%;
      text-align: right;
      div{
        background:#fb7299;
        color:#fff;
        text-align: center;
        border-radius:5px;
        margin-top:5px;
      }
    }
  }
  .book{
    width:100%;
    margin-top:10px;
    display:flex;
    .cover{
      width:85px;height:115px;
      position: relative;
      .img{
        background-position: center;
        background-size: cover;
        height: 100%;
      }
      .contract{
        position: absolute;
        width: 20px;
        height: 20px;
        right: -6px;
        bottom: -6px;
      }
    }
    .info{
      margin-left:10px;
      width:205px;
      .name{
        font-size: 13px;
        color: #333333;
        letter-spacing: 1px;
      }
      .process{
        font-size: 8px;
        color: #333333;
        display: flex;
        div{
          background-color: #ffbf00;
          color: #FFFFFF;
          font-size: 8px;
          border-radius: 2px;
          text-align: center;
          padding: 0 3px;
          height: 10px;
          margin-right: 8px;
        }
      }
      .category{
        overflow: hidden;
        display:flex;
        max-height: 35px;
        height: 15px;
        margin-top:3px;
        div {
          padding: 0 1px;
          margin-right: 3px;
          color: #999;
          border: 1px solid #bbb;
          border-radius: 2px;
          font-size: 8px;
          line-height: 13px;
        }
      }
      .tag{
        min-height: 12px;
        max-height: 35px;
        display: flex;
        margin-top:3px;
        flex-wrap: wrap;
        div {
          font-size: 8px;
          color: #999;
          background: #f0f0f0;
          border-radius: 3px;
          line-height: 11px;
          padding: 0 2px;
          margin: 2px 3px 2px 0;
        }
      }
    }
  }
  .desc{
    padding: 10px 0;
    color: #999999;
    line-height: 15px;
  }
  .button-read{
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
    margin: 2px 0;
    background-color: #fb7299;
  }
}
//短篇cover
.story-cover{
  padding:10px;
  .story-coverImg{
    width:100%;
    margin-top:10px;
    img{
      width:100%;
    }
  }
  .name {
    font-size: 13px;
    color: #333333;
    letter-spacing: 1px;
  }
  .word-count{
    font-size: 9px;
    color: #999999;
  }
  .tags{
    margin-top: 5px;
    span{
      height: 15px;
      line-height: 13px;
      display: inline-block;
      color: #999999;
      background-color: #ffffff;
      border: 1px solid #999999;
      border-radius: 3px;
      padding: 0 5px;
      margin-right: 10px;
      font-size: 8px;
    }
  }
  .desc{
    padding:2px 0;
    font-size: 12px;
    color: #999999;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


/****************************评论列表****************************/
.commentList{
  padding:0 10px;
  .comment{
    width:100%;
    border-bottom: 1px solid rgba(204, 204, 204, .5);
    .title{
      position: relative;
      padding-left: 6px;
      padding-top: 5px;
      div{
        display: inline-block;
        vertical-align: top;
      }
      .avatar{
        width: 30px;
        height: 30px;
        border-radius:50%;
        overflow:hidden;
      }
      .name{
        font-size: 10px;
        color: #fa7299;
        display: inline-block;
        margin-left: 10px;
        width: 130px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .icons {
        position: absolute;
        right: 2px;
        top: 13px;
        color: #999999;
        font-size: 9px;
        div{
          width:12px;height:12px;
          margin-left:4px;
          img{
            width:100%;
          }
        }
      }
    }
    .content{
      padding-left: 49px;
      padding-right: 10px;
      font-size: 12px;
      line-height: 15px;
      color: #333333;
      .words{
        margin:5px 0;
      }
      .time{
        width:100%;
        text-align:right;
        margin-bottom:5px;
        color:#999;
      }
    }
  }
  .else{
    width:100%;height:40px;line-height:40px;
    text-align: center;
  }
}








