html{font-size:12px;}
/*底部tab*/
.strawberry .tab-item .icon.ion-tab-home{
  background:url(../img/media/tab/shou-ye.png) no-repeat center;
  background-size: contain;}
.strawberry .tab-item .icon.ion-tab-home-active{
  background:url(../img/media/tab/active/shou-ye.png) no-repeat center;
  background-size: contain;}

.strawberry .tab-item .icon.ion-tab-bookshelf{
  background:url(../img/media/tab/shu-jia.png) no-repeat center;
  background-size: contain;}
.strawberry .tab-item .icon.ion-tab-bookshelf-active{
  background:url(../img/media/tab/active/shu-jia.png) no-repeat center;
  background-size: contain;}

.strawberry .tab-item .icon.ion-tab-publish{
  background:url(../img/media/tab/fa-bu.png) no-repeat center;
  background-size: contain;}
.strawberry .tab-item .icon.ion-tab-publish-active{
  background:url(../img/media/tab/active/fa-bu.png) no-repeat center;
  background-size: contain;}

.strawberry .tab-item .icon.ion-tab-loop{
  background:url(../img/media/tab/quan-zi.png) no-repeat center;
  background-size: contain;}
.strawberry .tab-item .icon.ion-tab-loop-active{
  background:url(../img/media/tab/active/quan-zi-.png) no-repeat center;
  background-size: contain;}

.strawberry .tab-item .icon.ion-tab-user{
  background:url(../img/media/tab/wo-de.png) no-repeat center;
  background-size: contain;}
.strawberry .tab-item .icon.ion-tab-user-active{
  background:url(../img/media/tab/active/wo-de-.png) no-repeat center;
  background-size: contain;}

.strawberry .tab-item .icon{
  width:18px;
  height:18px;
}
.active,
ion-tabs.strawberry.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.strawberry.tabs-color-active-positive .tab-item.active,
ion-tabs.strawberry.tabs-color-active-positive .tab-item.activated{
  color: #fb7299;
}
.strawberry .tabs{
  height:47px;
  padding-top:8px;
}

/*dash*/
.clear:after{
  content:"";
  display:block;
  clear:both;
}
.dash-sub-header{
  background:#f8f8f8;
  width:100%;height:38px;
  display:flex;
  justify-content: center;
}
.dash-sub-header div{
  width:35px;
  margin:10px 10px 0;
  text-align: center;
}
.dash-sub-header div span{
  font-size:15px;
}
.dash-sub-header div b{
  display: block;
  margin:0 auto;
  width:20px;
  height:3px;
  background: #fb7299;
  visibility: hidden;
}
.dash-sub-header div.active{
  color:#fb7299;
}
.dash-sub-header div.active b{
  visibility: visible;
}
.top38{top:38px !important;}
.dash-three-box{
  width:320px;
  height:100%;
}
.slider-box{
  width:320px;
  height:160px;
  background:#ddd;
  background-size:cover;
  background-position: center;
}
/*广播小喇叭*/
.broadcast{
  width: 305px;
  height: 22px;
  background: #ddd;
  border-radius: 10px;
  margin: 7px auto 3px;
  padding-left: 5px;
}
/*周推榜...四幅图*/
.dash-row{
  width:320px;
  padding:0 5px;
  padding-top:5px;
  display: flex;
  justify-content: center;
}
.dash-row div{
  padding:0 5px;
}
.dash-row div img{
  width:100%;height:60px;
}
.dash-two-label{
  width:320px;
  border:1px solid #f0f0f0;
  border-left:none;
  border-right:none;
  margin-top:10px;
  padding:0;
}
.dash-two-label div{
  padding:7px;
  text-align:center;
  font-size:14px;
}
/*热门长篇*/
.dash-book{
  width:320px;height:115px;padding:5px;
  overflow: hidden;
}
.dash-book .cover{
  display:inline-block;
  width:85px;height:115px;
}
.dash-book .cover .img{
  width:75px;height:105px;
  background-position: center;
  background-size: cover;
  margin:5px;
}
.dash-book .info{
  display:inline-block;
  width:215px;height:115px;
}
.dash-book .info .author{
  height:18px;
}
.dash-book .info .author div{display:inline-block;}
.dash-book .info .author .avatar{
  width:10px;height:10px;
  border-radius:50%;
  overflow:hidden;
}
.dash-book .info .author .avatar img{
  width:100%;height:100%;
  display: block;
}
.dash-book .info .author .name{
  font-size:12px;color:#999;
  line-height: 14px;
}
.dash-book .info .category{
  position: relative;
  top: -3px;
}
.dash-book .info .category div{
  display: inline-block;
  font-size:8px;color:#999;
  border:1px solid #999;
  border-radius: 3px;
  line-height: 8px;
  padding: 2px;
}
.dash-book .info .desc{
  height: 32px;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
}
.dash-book .info .tag{
  max-width: 180px;
  max-height: 37px;
  min-height: 15px;
  overflow: hidden;
}
